#the-comment-list .unapprove a:link, #the-comment-list .delete a:link,
#the-comment-list .unapprove a:visited, #the-comment-list .delete a:visited {
	color: #1c6280;
}

#the-comment-list .unapprove a:hover, #the-comment-list .delete a:hover,
#the-comment-list .unapprove a:active, #the-comment-list .delete a:active {
	color: #d54e21;
}

#dashboard_right_now .approved, #dashboard_right_now .waiting, #dashboard_right_now .spam {
	color: gray;
}